# Copia este archivo a terraform.tfvars y configura tus valores

resource_group_name = "rg-ansible-lab"
location            = "East US"

# Usuario para las VMs
admin_username = "azureuser"

# Lee el contenido de tu clave pública: C:\Users\<TuUsuario>\.ssh\azure_ansible_key.pub
# Get-Content "$env:USERPROFILE\.ssh\azure_ansible_key.pub"
# y pégalo aquí entre las comillas:
ssh_public_key = "ssh-rsa AAAAB3... tu-clave-publica-aqui"

# Tamaño de las VMs (Standard_B2s es económico para labs)
vm_size = "Standard_B2s"
