name: Test React App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Build Docker image
        working-directory: ./4. ci-workflow/frontend
        run: docker build -t elpachanga1/docker-react -f Dockerfile.dev .
      
      - name: Run tests
        run: docker run -e CI=true elpachanga1/docker-react npm run test -- --coverage
